PORT=4000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=kadham
DB_PASSWORD=kadham
DB_NAME=kadham

JWT_SECRET=super-secret-jwt-key
JWT_EXPIRES_IN=1h

# Blockchain Configuration
BLOCKCHAIN_RPC_URL=https://sepolia.infura.io/v3/YOUR_PROJECT_ID
ORACLE_PRIVATE_KEY=YOUR_PRIVATE_KEY_WITHOUT_0X
# Deployed Contract Address
REWARD_MANAGER_ADDRESS=0x0000000000000000000000000000000000000000
